// fonts
$primary-font: "Maven Pro", sans-serif;

// sizes
$primary-size: 16px;
$title-size: 20px;
$logo-size: 35px;

// line-height
$primary-height: 19px;
$title-height: 24px;
$logo-height: 43px;

// colors
$primary-color: #484B98;
$dark-blue: #434791;
$white: #fff;
$secondary-white: #FDFDFD;
$purple: #FDF1FF;
$pink-hover: #E8C5ED;
$grey-text: #6E6E6E;
$light-grey: #E7E7EA;
$bg-grey: #E5E5E5;
$card-shadow: #E0E1E5;
$dropdown: #616069;
$dropdown-hover: #F4F2F6;
$share: #6C6CAD;